@font-face {
    font-family: "futura";
    src: url(./fonts/futura_bk_bt_book.ttf);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


*{
    font-family: 'futura';
    margin: 0;
}

#mainBox{
    background-image: url("./img/headerBackground.png");
    background-size: 1600px;
    background-position-y: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0AD1C;
    height: 1300px;
    max-width: 100%;
}

#box{
    width: 100%;
    flex-direction: flex;
    justify-content: space-between;
    display: flex;
    padding-top: 30px;
}

#headerLinks{
    display: flex;
}

#headerLinks a{
    padding-left: 60px;
    list-style: none;
    color: white;    
}

#logoText{
    color: white;
}

#logoText img{
    width: 50px;
    color: white;
}

.buttons{
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#get{
    margin-left: 20px;
    width: 130px;
    height: 40px;
    background-color: #e32682;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 2px;
    color: #FFFF;
}

#box_title{
    margin-top: 15%;
    text-align: center;
}

#title{
    color: white;
    font-size: 110px;
    text-transform: uppercase;
    font-weight: bolder;
}

.subtitleLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    padding-top: 30px;
}

.subtitleLinks a{
    color: white;
}

.imgLinks{
    width: 100%;
    margin-right: 5%;
    display: flex;
    justify-content: end;
    margin-top: 12%;
    height: 30px;
}

.imgLinks img{
    margin-left: 10px;
    height: 30px;
}

.nextEvent{
    margin-top: 200px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
}

#nextEventText{
    color: #105359;
    margin-left: 5%;
    text-align: left;
}

#nextEventText h3{
    font-size: 40px;
}

#nextEventText h1{
    font-size: 60px;
    font-weight: bold;
}

#nextEventText h4{
    font-size: 40px;
}

.clockBackground{
/*     background-color: #45893B; */
    height: 150px;
    width: 700px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

#nextEventClock{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.clockValue{
    color: #fff8fb;
    font-size: 100px;
    font-weight: bold;
    justify-content: space-between;
}

.clockText{
    color: #F8E8DA;
    font-size: 40px;
    font-weight: lighter;
}

.register{
    width: 100%;
    margin-top: 135px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.registerButton{
    margin-right: 400px;
    height: 70px;
    width: 250px;
    background-color: #45893B;
    border: 0;
    border-radius: 10px;
    color: #F8E8DA;
    font-size: 25px;
    font-weight: bold;    
}

.aboutRio{
    background-color: #e6316d;
    background-size: 100%;
    max-width: 100%;
    height: 400px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#aboutRioImage img{
    max-width: 300px;
    border-radius: 10%;
}

.aboutRioText h1{
    width: 500px;
    color: #fff8fb;
    font-size: 30px;
    margin-bottom: 10px;
}

.aboutRioText h2{
    width: 500px;
    color: #fff8fb;
    font-size: 15px;
    margin-bottom: 15px;
}

#discoverMore{
    border-radius: 10px;
    background-color: #F0AD1C;
    font-size: 20px;
    font-weight: bold;
    color: #fff8fb;
    height: 40px;
    width: 150px;
}

.gray{
    background-color: #fff8fb;
}

.feedback{
    background-color: #D9285E;
    background-size: 100%;
    max-width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
}

#feedbackTitle{
    font: Futura-bold;
    color: #F8E8DA;
    align-items: center;
    font-size: 60px;
}

#image{
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

#feedbackImage img{
    border-radius: 50%;
    width: 200px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    max-width: 80%;
    text-align: center;
}

#feedbackName{
    font: 'futura-bold';
    font-size: 20px;
}

#feedbackText{
    font-size: 15px;
    color: #062528;
}

.photos img{
    height: 318px;
}

.cocrie{
    background-color: #F8E8DA;
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cocrie h1{
    font-size: 70px;
    font-weight: bolder;
    margin-top: 100px;
}

#divisor{
    margin-top: 100px;
    height: 15px;
}

#cardEP{
    margin-top: 100px;
    height: 400px;
}

.supported{
    background-color: #F8E8DA;
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.supported h1{
    font-size: 70px;
    font-weight: bolder;
    margin-top: 100px;
}

.brands{
    margin-top: 100px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.columnOne{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.columnOne img{
    height: 40px;
}

.columnTwo{    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.columnTwo img{
    height: 40px;
}

.columnThree{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.columnThree img{
    height: 40px;
}

.columnFour{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.columnFour img{
    height: 40px;
}

.speakers a{
    margin-top: 40px;
    font-size: 30px;
}

.speakers{
    background-color: #F8E8DA;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card1{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.card1 img{
    margin-top: 100px;
    height: 200px;
}

.card2{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.card2 img{
    margin-top: 100px;
    height: 200px;
}

.card3{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.card3 img{
    margin-top: 100px;
    height: 200px;
    width: 198px;
    object-fit: cover;
}

.lineUp{
    height: 700px;
    background-color: #F8E8DA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lineUp h1{
    margin-top: 50px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.lineUp img{
    margin-top: 50px;
    height: 15px;
}

.lineUp h3{
    margin-top: 50px;
    width: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: lighter;
}

.lineUpButton{
    color: #fff8fb;
    margin-top: 30px;
    border: 0;
    height: 30px;
    width: 200px;
    font-size: large;
    font-weight: bold;
    background-color: #D9285E;
}

.lineUpButton a{
    color: #fff8fb;
    font-size: large;
    font-weight: bold;
}

.startNow{
    height: 450px;
    background-image: url("./img/StartNow01");
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#startNowText{
    color: #FFFF;
    font-size: 50px;
    max-width: 600px;
    font-weight: bold;
}

#startNowButton{
    color: #FFFF;
    font-size: 15px;
    font-weight: bold;
    background-color: #e32682;
    width: 130px;
    height: 40px;
    border: none;
    margin-top: 40px;
}

#our{
    position: absolute;
    margin-top: 12rem;
    margin-left: 10rem;
    font-size: 30px;
}

#perguntas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
}

#box_task{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 100px;
    width: 700px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.footer{
    height: 800px;
    background-image: url("./img/wallpaperFooter.png");
    background-size: 1550px;
    display: flex;
    flex-direction: column;
}

.footer h1{
    font-size: 150px;
    color: #F8E8DA;
    margin-top: 320px;
    margin-left: 130px;
    width: auto;
}

.social{
    margin-top: 30px;
    margin-left: 900px;
    color: white;
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

#socialImage img{
    height: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
}

#socialText{
    height: 150px;
    line-height: 40px;
    margin-left: 10px;
    font-size: 25px;
    color: white;
}